<section>
  <h1 class="govuk-heading-xl">Hi I'm Kiran 👋🏽</h1>

  <article>
    <p class="govuk-body">
      I am a full stack software developer working with over 15 years experience. I've worked for a
      variety of organisations, from small startups to large enterprises, and have a passion for
      building great software. I'm currently open to new opportunities so please feel free to reach
      out to me on
      <a href="https://www.linkedin.com/in/heyitskiran/" class="govuk-link">LinkedIn</a>
    </p>

    <p class="govuk-body">
      I hope to add some examples of my work here soon. In the meantime welcome to my site, and
      thanks for stopping by!
    </p>
  </article>
</section>
